* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

body{
  font-family: 'Lobster', cursive;
font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

/* @media only screen (max: 400px){ */



.container {
  background-image: url(./Images/herocover3.png);
  background-size: cover;
  background-color: black;

}




.brand {

  float: left;
}

ul {
  /* text-align: center; */
}

/* li { */
  list-style: none;
  display: inline-block;
  text-decoration: none;

}

.container {
  width: 100%;
  height: 1000px;
}

.En {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gb(204, 197, 197);
  margin-top: 280px;
  height: 500px;

}


.Ensure {
  background-color: gb(158, 97, 97);
  color: #ffff;
  text-align: center;
  margin-top: 0px;
  width: 900px;
  height: 500px;

}

.Ensure h1 {
  font-size: 70px;
}

.Ensure p {
  font-size: 25px;
}

.box {
  height: 300px;
  background-color: #252B42
  ;
}


.box1 {
  background-color: #ffff;
  width: 350px;
  height: 250px;
  position: relative;
  left: 420px;
  bottom: 100px;
}

.box2 {
  background-color:#ffff;
  width: 350px;
  height: 250px;
  position: relative;
  left: 800px;
  bottom: 350px;
  z-index: ;
}

.box3 {
  background-color: #23A6F0;
  width: 350px;
  height: 250px;
  position: relative;
  left: 1200px;
  bottom: 600px;
}

.icc{
  padding-left: px;
}

.she{
  font-size: 25px;
  padding-left: 50px;

}



.he{
  font-size: 15px;
  padding-left:0px;

}




/*  PEACE OF MIND 2*/

.pom {
  background-color: gb(199, 115, 115);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.pom1 {
  height: 200px;
  background-color: white;
  text-align: center;

  margin-left: 250px;
}




.pom2 {
  height: 200px;
  background-color: white;
  text-align: center;


}


.pom3 {
  height: 200px;
  background-color: white;
  text-align: center;
  margin-right: 250px;
}

/* PROFILE CARDS */
.industry {
  background-color: whitesmoke;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.panam {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
}

.panam p {
  font-size: 15px;
}

.profile1 {
  background-color: white;
  height: 350px;
  text-align: center;
  margin-left: 250px;
  padding: 20px;
  margin-bottom: 400px;

}

.profile1 p {
  margin-top: 20px;

}


.profile2 {
  height: 350px;
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 400px;
}



.profile2 p {
  margin-top: 20px;

}


.profile3 {

  height: 350px;
  background-color: white;
  text-align: center;
  margin-right: 250px;
  padding: 20px;
  margin-bottom: 400px;
}


.profile3 p {
  margin-top: 20px;

}


/* hool */

.trac {
photo: spacing 70px;

}




/* PRICING */
.aws {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;

}

#june {
  font-size: 50px;
}

.aws p {
  font-size: 15px;

}



.pricing {
  background-color: whitesmoke;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;


}

.pricecard1 {
  height: 650ppx;
  background-color: ;
  text-align: center;
  margin-left: 450px;
  height: 600px;
  border-radius: 6px;
  margin-bottom: 85px;
  border-style: groove;
  border-color: lightskyblue;



}

.pricecard2 {
  height: 650px;
  background-color: #252B42;
  text-align: center;
  border-radius: 6px;
  margin-bottom: 120px;
  border-style: groove;
  border-color: lightskyblue;
  border-radius: 4px;
  


}

.pricecard3 {
  height: 620px;
  text-align: center;
  border-radius: 6px;
  margin-right: 400px;
  margin-bottom: 100px;
  border-style: groove;
  border-color: lightskyblue;

}

#c1{
  background-color:;
  padding:20px;
  font-size:2em;
  font-weight: bold;

}

#c2{
  background-color: y;
  padding: 20px;
  color: gray;
  font-weight: bolder;

}

#c3{
  background-color: ;
  padding: 20px;
  color: #23A6F0;
  font-weight: bolder;
  font-size: 1.5em;
}

#c4{
  padding: 20px;
  margin: 20px;
  line-height: 3em;

}

#btn2{
  background-color: #23A6F0;
  color: white;
  width: 60%;
  height: 50px;
  font-size: 1em;
  font-weight: 900;
  border-style: none;
  border-radius: 4px;
  
}


#ca{
  color: white;
  padding:20px;
  font-size:2em;
  font-weight: bold;

}

#cb{
  color: white;
  padding: 20px;
  color: gray;
  font-weight: bolder;

}




/* WORLDMAP */

.black {
  background-color: #252B42;
  height: 700px;
  
}







/* CONTACT */
.tear {
  background-color:whitesmoke;
  height: 600px;
}

.tear2 img{
  
  
}
.tear2{
  background-color: white;
  height: 600px;
  width: 800px;
  position: relative;
  left:500px;
  bottom: 300px;
}

#respect{
  background-color: what;
  height: 600px;
  width: 500px;
  position: relative;
  left:300px;
  bottom: 604px;

}

#respect h2{
  text-align: center;
  padding-top: 15px;

}

form{
  padding-left: 30px;
  padding-top: 40px;
}

input {
  background-color: whitesmoke;
  display: inline-block;
  width: 80%;
  padding-top: 10px;
  padding-bottom:20px;
  margin: 8px 0;
  box-shadow: border box;
  border: 2px;
  border-radius: 4px;

  
}

label{
  margin-top: 60px;
}